body {
  margin: 0px;
}
li div {
  width: 25%;
  padding: 12px 0px 10px 10px;
}
input {
  height: 40px;
  padding: 0px 0px 0px 10px;
  margin: 0px;
  border: 1px solid #e0e0e0;
}
select {
  height: 42px;
  padding: 10px;
  margin: 0px;
  border: 1px solid #e0e0e0;
}
button {
  height: 42px;
  background-color: #e0e0e0;
  border: none;
}
button:hover {
  background-color: #d2f1ff;
}
.app {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  border: 1px solid #e0e0e0;
}
.app-content {
  padding: 20px;
}
.header {
  font-size: 24px;
  font-weight: 600;
  height: 40px;
  padding: 10px 10px 5px 30px;
  background-color: #0c2340;
  color: #ffffff;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  width: 100%;
}
li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.uren-header {
  background-color: #0c2340;
  color: #ffffff;
  font-weight: 600;
}
.uren-item:nth-child(even) {
  background-color: #e0e0e0;
}
.uren-item:hover {
  background-color: #d2f1ff;
}

.item-button {
  width: 24px;
  height: 24px;
  margin: 4px 0px 0px 0px;
  padding: 6px;
  opacity: 0.5;
}
.item-button:hover {
  background-color: #ffffff;
  border-radius: 50%;
}
.uren-field {
  width: calc(33% - 80px);
}
.totaal {
  background-color: #0194d3;
  color: white;
}
.plus-min-button {
  width: 40px;
  height: 42px;
}
.toevoegen-button {
  width: 80px;
}
